<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../image/logo.png">
    <title>About</title>
</head>
<body>

    <section class="section-header">
        <nav class="navigetionbar container-max-width">
            <div class="logo">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="icon-bar">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="list">
                <li class="link"><a href="../index.html">home</a></li>
                <li class="link"><a href="../components/player.html">player</a></li>
                <li class="link"><a href="../components/legend.html">legend</a></li>
                <li class="link"><a href="../components/manager.html">manager</a></li>
                <li class="link"><a href="../components/champions.html">champions</a></li>
                <li class="link"><a href="about.html" class="active">about</a></li>
            </ul>
        </nav>
    </section>

    <section class="section-content-manutd container-max-width">
        <h1 class="title-manutd">
            Manchester United 
        </h1>
        <div class="grid-content-manutd container-max-width">
            <article class="card-content-manutd">
                <div class="img-content-manutd">
                    <img src="../image/info.webp" alt="">
                </div>
                <div class="desc-manutd">
                    <ul class="lists">
                        <h2 class="title-info">
                            <a href="#" class="title">CLUB INFOMATION</a>
                        </h2>
                        <li class="links-info"><a href="#" class="info">Jobs & Careers</a></li>
                        <li class="links-info"><a href="#" class="info">Investor Relations</a></li>
                        <li class="links-info"><a href="#" class="info">Safeguarding</a></li>
                        <li class="links-info"><a href="#" class="info">Brand Protection</a></li>
                    </ul>
                </div>
            </article>
            <article class="card-content-manutd">
                <div class="img-content-manutd">
                    <img src="../image/woman.webp" alt="">
                </div>
                <div class="desc-manutd">
                    <ul class="lists">
                        <h2 class="title-info">
                            <a href="#" class="title">MANCHESTER UNITED WOMEN</a>
                        </h2>
                        <li class="links-info"><a href="#" class="info">About United Women</a></li>
                        <li class="links-info"><a href="#" class="info">Fixtures and Results </a></li>
                        <li class="links-info"><a href="#" class="info">Tickets and Hospitality</a></li>
                        <li class="links-info"><a href="#" class="info">Travel to Leigh Sports Village</a></li>
                    </ul>
                </div>
            </article>
            <article class="card-content-manutd">
                <div class="img-content-manutd">
                    <img src="../image/academy.jpg" alt="">
                </div>
                <div class="desc-manutd">
                    <ul class="lists">
                        <h2 class="title-info">
                            <a href="#" class="title">THE ACADEMY</a>
                        </h2>
                        <li class="links-info"><a href="#" class="info">About The Academy</a></li>
                        <li class="links-info"><a href="#" class="info">Academy Player Profiles</a></li>
                        <li class="links-info"><a href="#" class="info">Academy History</a></li>
                        <li class="links-info"><a href="#" class="info">Staff Profiles</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>

    <section class="section-footer">
        <div class="grid-footer container-max-width">
            <ul class="footer-list">
                <h3 class="title-footer">Contact Us</h3>
                <li class="footer-link"><a href="#">Email : menghorng414@gmail.com</a></li>
                <li class="footer-link"><a href="#">Numbers Phone : +855 158 067 01</a></li>
            </ul>
            <ul class="footer-list list-1">
                <h3 class="title-footer">Quick Links</h3>
                <li class="footer-link quick-links"><a href="#">Home</a></li>
                <li class="footer-link quick-links"><a href="#">Player</a></li>
                <li class="footer-link quick-links"><a href="#">Legend</a></li>
                <li class="footer-link quick-links"><a href="#">Manager</a></li>
                <li class="footer-link quick-links"><a href="#">Champions</a></li>
                <li class="footer-link quick-links"><a href="#">About</a></li>
            </ul>
            <ul class="footer-list list-2">
                <h3 class="title-footer">Follow Us</h3>
                <li class="footer-link">
                    <span><a href="https://web.facebook.com/"><i class="fa-brands fa-facebook"></i></a></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-twitter"></i></span>
                    <span><a href="https://www.youtube.com/@menghornghay9895"><i class="fa-brands fa-youtube"></i></a></i></span>
                </li>
            </ul>
        </div>
    </section>

    <script src="../js/app.js"></script>
    
</body>
</html>