<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/champions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../image/logo.png">
    <title>Champions</title>
</head>
<body>

    <section class="section-header">
        <nav class="navigetionbar container-max-width">
            <div class="logo">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="icon-bar">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="list">
                <li class="link"><a href="../index.html">home</a></li>
                <li class="link"><a href="../components/player.html">player</a></li>
                <li class="link"><a href="../components/legend.html">legend</a></li>
                <li class="link"><a href="../components/manager.html">manager</a></li>
                <li class="link"><a href="champions.html" class="active">champions</a></li>
                <li class="link"><a href="../components/about.html">about</a></li>
            </ul>
        </nav>
    </section>

    <section class="section-heros">
        <h1 class="title-heros container-max-width">
            Trophies Won by Man Utd 
        </h1>
        <div class="grid-heros container-max-width">
            <div class="center-img">
                <div class="img-heros">
                    <img src="../image/backham2.jpg" alt="">
                </div>
            </div>
            <div class="desc-heros">
                <h2>Champions League</h2>
                <p>In the 1998-99 season, he was part of the United team that won the treble of the Premier League, FA Cup and Champions League, a unique feat in English football until Manchester City's 2022-23 season.[59] There had been speculation that the criticism that he had received after being sent off in the World Cup would lead to him leaving England.</p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </section>

    <section class="section-trophy">
        <div class="grid-trophy container-max-width">
            <article class="card-trophy">
                <div class="img-trophy">
                    <img src="../image/fa cup.png" alt="">
                </div>
                <h2 class="title-trophy">
                    FA CUP
                </h2>
            </article>
            <article class="card-trophy">
                <div class="img-trophy">
                    <img src="../image/carabao cup.png" alt="">
                </div>
                <h2 class="title-trophy">
                    LEAGUE CUP
                </h2>
            </article>
            <article class="card-trophy">
                <div class="img-trophy">
                    <img src="../image/europa.png" alt="">
                </div>
                <h2 class="title-trophy">
                    UEFA EUROPA LEAGUE
                </h2>
            </article>
            <article class="card-trophy">
                <div class="img-trophy">
                    <img src="../image/supercub.png" alt="">
                </div>
                <h2 class="title-trophy">
                    UEFA SUPER CUP
                </h2>
            </article>
            <article class="card-trophy">
                <div class="img-trophy">
                    <img src="../image/fifa club.png " alt="">
                </div>
                <h2 class="title-trophy">
                    FIFA CLUB WORLD CUP
                </h2>
            </article>
            <article class="card-trophy">
                <div class="img-trophy">
                    <img src="../image/uefacup.png" alt="">
                </div>
                <h2 class="title-trophy">
                    UEFA CUP WINNERS' CUP
                </h2>
            </article>
        </div>
    </section>

    <section class="section-community">
        <div class="grid-community container-max-width">
            <div class="desc-community">
                <h2>Fa Community Shield</h2>
                <p>Jose Mourinho picked up his first United 'trophy' at the first attempt as goals from Jesse Lingard and Zlatan Ibrahimovic secured a 2-1 win over reigning league champions Leicester City in 2016.</p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </div>
            <div class="img-community">
               <img src="../image/community.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="section-Primier">
        <div class="grid-Primier container-max-width">
            <div class="img-Primier">
                <img src="../image/primier1.jpg" alt="">
            </div>
            <div class="desc-Primier">
                <h2>Premier League</h2>
                <p>The 2008-09 season was Manchester United's 17th season in the Premier League, and their 34th consecutive season in the top division of English football. </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </section>

    <section class="section-footer">
        <div class="grid-footer container-max-width">
            <ul class="footer-list">
                <h3 class="title-footer">Contact Us</h3>
                <li class="footer-link"><a href="#">Email : menghorng414@gmail.com</a></li>
                <li class="footer-link"><a href="#">Numbers Phone : +855 158 067 01</a></li>
            </ul>
            <ul class="footer-list list-1">
                <h3 class="title-footer">Quick Links</h3>
                <li class="footer-link quick-links"><a href="#">Home</a></li>
                <li class="footer-link quick-links"><a href="#">Player</a></li>
                <li class="footer-link quick-links"><a href="#">Legend</a></li>
                <li class="footer-link quick-links"><a href="#">Manager</a></li>
                <li class="footer-link quick-links"><a href="#">Champions</a></li>
                <li class="footer-link quick-links"><a href="#">About</a></li>
            </ul>
            <ul class="footer-list list-2">
                <h3 class="title-footer">Follow Us</h3>
                <li class="footer-link">
                    <span><a href="https://web.facebook.com/"><i class="fa-brands fa-facebook"></i></a></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-twitter"></i></span>
                    <span><a href="https://www.youtube.com/@menghornghay9895"><i class="fa-brands fa-youtube"></i></a></i></span>
                </li>
            </ul>
        </div>
    </section>

    <script src="../js/app.js"></script>
    
</body>
</html>
