<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/legend.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../image/logo.png">
    <title>Legend</title>
</head>
<body>
    
    <section class="section-header">
        <nav class="navigetionbar container-max-width">
            <div class="logo">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="icon-bar toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="list">
                <li class="link"><a href="../index.html">home</a></li>
                <li class="link"><a href="../components/player.html">player</a></li>
                <li class="link"><a href="legend.html" class="active">legend</a></li>
                <li class="link"><a href="../components/manager.html">manager</a></li>
                <li class="link"><a href="../components/champions.html">champions</a></li>
                <li class="link"><a href="../components/about.html">about</a></li>
            </ul>
        </nav>
    </section>

    <section class="section-legends">
        <h1 class="title-legends">Legends In Man Utd</h1>
        <div class="grid-legends container-max-width">
            <div class="center-img-legend">
                <div class="legends-img">
                    <img src="../image/Charlton.jpg" alt="">
                </div>
            </div>
            <div class="desc-legend">
                <h3 class="name-legends">Bobby Charlton</h3>
                <p>Sir Robert Charlton CBE (11 October 1937-21 October 2023) was an English professional footballer who played as a midfielder or centre-forward. Widely considered one of the greatest players of all time, he was a member of the England team that won the 1966 FIFA World Cup, the year he also won the Ballon d'Or.</p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </divdiv>
        </div>
    </section>

    <section class="goalkeeper">
        <h2 class="title-GK">Best Man Utd Goalkeepers</h2>
        <div class="grid-goalkeeper container-max-width">
            <article class="card-goalkeeper">
                <div class="img-goalkeeper">
                    <img src="../image/vandersar.webp" alt="">
                </div>
                <div class="data-goalkeeper">
                    <h3 class="name-goalkeeper">
                        Van Da Sar
                    </h3>
                    <div class="flag">
                        <img src="../image/netherland.png" alt="">
                    </div>
                </div>
                <div class="rate-goalkeeper">
                    <div class="rate-number">5.0</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view-goalkeeper">
                        <i class="fa-regular fa-eye"></i>
                        (16.7B)
                    </div>
                </div>
                <p>Edwin van der Sar (born 29 October 1970) is a Dutch football executive and former professional player who was most recently the chief executive of Ajax, with whom he began his senior playing career in the early 1990s.</p>
                <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-goalkeeper">
                <div class="img-goalkeeper">
                    <img src="../image/degea.webp" alt="">
                </div>
                <div class="data-goalkeeper">
                    <h3 class="name-goalkeeper">
                        David De Gea
                    </h3>
                    <div class="flag">
                        <img src="../image/spain.png" alt="">
                    </div>
                </div>
                <div class="rate-goalkeeper">
                    <div class="rate-number">(5.0)</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view-goalkeeper">
                        <i class="fa-regular fa-eye"></i>
                        (15.4B)
                    </div>
                </div>
                <p>David de Gea Quintana (born 7 November 1990) is a Spanish professional footballer who plays as a goalkeeper. Born in Madrid and raised in nearby Illescas, De Gea began his playing career with Atlético Madrid.</p>
                <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-goalkeeper">
                <div class="img-goalkeeper">
                    <img src="../image/peterschmeichel.webp" alt="">
                </div>
                <div class="data-goalkeeper">
                    <h3 class="name-goalkeeper">
                        Peter Schmeichel
                    </h3>
                    <div class="flag">
                        <img src="../image/denmark.png" alt="">
                    </div>
                </div>
                <div class="rate-goalkeeper">
                    <div class="rate-number">(5.0)</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view-goalkeeper">
                        <i class="fa-regular fa-eye"></i>
                        (18.9B)
                    </div>
                </div>
                <p>Peter Bolesław Schmeichel MBE (born 18 November 1963) is a Danish former professional footballer who played as a goalkeeper. During eight seasons at English club Manchester United. he captained the club.</p>
                <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
            </article>
    </section>

    <section class="centre-back">
        <h2 class="title-centre-back">Best Man Utd Centre Backs</h2>
        <div class="grid-best-centre-back container-max-width">
            <div class="best-img">
                <img src="../image/5x15.jpg" alt="">
            </div>
            <h1 class="name-best-centre-back">
                <p class="rio">Rio Ferdinand</p>&<p class="vidic">Nemanja Vidic</p>
            </h1>
        </div>
        <div class="grid-centre-back container-max-width">
            <article class="card-centre-back">
                <div class="centre-back-image">
                    <img src="../image/rio.jpg" alt="">
                </div>
                <div class="centre-back-desc">
                    <div class="data-centre-back">
                        <h3 class="name-centre-back">Rio Ferdinand</h3>
                        <div class="flag">
                            <img src="../image/england.png" alt="">
                        </div>
                    </div>
                    <div class="rate-centre-back">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (18.3B)
                        </div>
                    </div>
                    <p>Rio Gavin Ferdinand OBE (born 7 November 1978) is an English former professional footballer who played as a centre-back, and is now a television pundit for TNT Sports. He played 81 times for the England national team between 1997 and 2011, and was a member of three FIFA World Cup squads. He is one of the most decorated English footballers of all time, regarded by many as one of England.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-centre-back">
                <div class="centre-back-image">
                    <img src="../image/vidic.jpg" alt="">
                </div>
                <div class="centre-back-desc">
                    <div class="data-centre-back">
                        <h3 class="name-centre-back">Nemanja Vidic</h3>
                        <div class="flag">
                            <img src="../image/serbian.png" alt="">
                        </div>
                    </div>
                    <div class="rate-centre-back">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (17.9B)
                        </div>
                    </div>
                    <p>Nemanja Vidić (born 21 October 1981) is a Serbian former professional footballer who played as a centre-back. He is considered to be one of the greatest defenders in the history of the sport. Vidić is best known for his time at Manchester United, where he won 15 trophies and served as club captain. He is one of only four players to win the Premier League Player of the Season award twice.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
        </div>
    </section>

    <section class="section-conner-back">
        <h2 class="title-conner-back">
            Best Man Utd Left & Right Back
        </h2>
        <div class="grid-conner-back container-max-width">
            <article class="card-conner-back">
                <div class="conner-back-image">
                    <img src="../image/garynenville.webp" alt="">
                </div>
                <div class="conner-back-desc">
                    <div class="data-conner-back">
                        <h3 class="name-conner-back">Gary Neville</h3>
                        <div class="flag">
                            <img src="../image/england.png" alt="">
                        </div>
                    </div>
                    <div class="rate-conner-back">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (16.3B)
                        </div>
                    </div>
                    <p>Gary Alexander Neville (born 18 February 1975) is an English football pundit, former player, and co-owner of English Football League club Salford City. As a player, Neville was a right-back and spent his entire career with Manchester United, serving as club captain for five years.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-conner-back">
                <div class="conner-back-image">
                    <img src="../image/lrwin.webp" alt="">
                </div>
                <div class="conner-back-desc">
                    <div class="data-conner-back">
                        <h3 class="name-conner-back">Denis Irwin</h3>
                        <div class="flag">
                            <img src="../image/Ireland.png" alt="">
                        </div>
                    </div>
                    <div class="rate-conner-back">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (12.9B)
                        </div>
                    </div>
                    <p>Joseph Denis Irwin (born 31 October 1965) is an Irish former professional footballer and sports television presenter. Irwin is the joint most successful Irish footballer in history, a record he shares with fellow Manchester United stalwart Roy Keane, having won 19 trophies in his career.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
        </div>
    </section>

    <section class="section-midfielder">
        <h2 class="title-midfielder">
            Best Man Utd Centre Midfielder
        </h2>
        <div class="grid-midfielder container-max-width">
            <article class="card-midfielder">
                <div class="midfielder-image">
                    <img src="../image/scholes.jpg" alt="">
                </div>
                <div class="midfielder-desc">
                    <div class="data-midfielder">
                        <h3 class="name-midfielder">Pual Scholes</h3>
                        <div class="flag">
                            <img src="../image/england.png" alt="">
                        </div>
                    </div>
                    <div class="rate-midfielder">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (19.9B)
                        </div>
                    </div>
                    <p>Paul Scholes (born 16 November 1974) is an English football coach, pundit, former player, and co-owner of Salford City. He spent his entire professional playing career with Manchester United.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-midfielder">
                <div class="midfielder-image">
                    <img src="../image/roykean.jpg" alt="">
                </div>
                <div class="midfielder-desc">
                    <div class="data-midfielder">
                        <h3 class="name-midfielder">Roy Kean</h3>
                        <div class="flag">
                            <img src="../image/Ireland.png" alt="">
                        </div>
                    </div>
                    <div class="rate-midfielder">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (15.8B)
                        </div>
                    </div>
                    <p>Roy Maurice Keane (born 10 August 1971) is an Irish football pundit, former coach, and former professional player. He is the joint most successful Irish footballer of all time, having won 19 major trophies in his club career.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-midfielder">
                <div class="midfielder-image">
                    <img src="../image/carrick.jpg" alt="">
                </div>
                <div class="midfielder-desc">
                    <div class="data-midfielder">
                        <h3 class="name-midfielder">Michael Carrick</h3>
                        <div class="flag">
                            <img src="../image/england.png" alt="">
                        </div>
                    </div>
                    <div class="rate-midfielder">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (14.1B)
                        </div>
                    </div>
                    <p>Michael Carrick (born 28 July 1981) is an English professional football coach and former player who is currently the head coach of Championship club Middlesbrough. He is one of the most decorated English footballers.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            
        </div>
    </section>

    <section class="section-conner-forward">
        <h2 class="title-conner-forward container-max-width">
            Best Man Utd Left & Right Midfielder
        </h2>
        <div class="grid-conner-forward container-max-width">
            <article class="card-conner-forward">
                <div class="conner-forward-image">
                    <img src="../image/ronaldo1.jpg" alt="">
                </div>
                <div class="conner-forward-desc">
                    <div class="data-conner-forward">
                        <h3 class="name-conner-forward">Cristiano Ronaldo</h3>
                        <div class="flag">
                            <img src="../image/portugal.png" alt="">
                        </div>
                    </div>
                    <div class="rate-conner-forward">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (18.9B)
                        </div>
                    </div>
                    <p>Cristiano Ronaldo dos Santos Aveiro GOIH ComM (born 5 February 1985) is a Portuguese professional footballer who plays as a forward for and captains both Saudi Pro League club Al Nassr .</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-conner-forward">
                <div class="conner-forward-image">
                    <img src="../image/backham1.jpg" alt="">
                </div>
                <div class="conner-forward-desc">
                    <div class="data-conner-forward">
                        <h3 class="name-conner-forward">David Backham</h3>
                        <div class="flag">
                            <img src="../image/england.png" alt="">
                        </div>
                    </div>
                    <div class="rate-conner-forward">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (19.9B)
                        </div>
                    </div>
                    <p>David Robert Joseph Beckham OBE (born 2 May 1975) is an English former professional footballer, the president and co-owner of Inter Miami and co-owner of Salford City. Primarily a right winger.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-conner-forward">
                <div class="conner-forward-image">
                    <img src="../image/giggs.jpg" alt="">
                </div>
                <div class="conner-forward-desc">
                    <div class="data-conner-forward">
                        <h3 class="name-conner-forward">Ryan Giggs</h3>
                        <div class="flag">
                            <img src="../image/wales.png" alt="">
                        </div>
                    </div>
                    <div class="rate-conner-forward">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (10.6B)
                        </div>
                    </div>
                    <p>Ryan Joseph Giggs OBE (né Wilson; born 29 November 1973[3]) is a Welsh football coach, former player and co-owner of Salford City. Regarded as one of the greatest players of his generation.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
        </div>
    </section>

    <section class="section-striker">
        <h2 class="title-striker">
            Best Man Utd Striker
        </h2>
        <div class="grid-striker container-max-width">
            <article class="card-striker">
                <div class="striker-image">
                    <img src="../image/nistelrooy.jpg" alt="">
                </div>
                <div class="striker-desc">
                    <div class="data-striker">
                        <h3 class="name-striker">Van  Nistelrooy</h3>
                        <div class="flag">
                            <img src="../image/netherland.png" alt="">
                        </div>
                    </div>
                    <div class="rate-striker">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (18.9B)
                        </div>
                    </div>
                    <p>Rutgerus Johannes Martinus "Ruud" van Nistelrooij (born 1 July 1976) is a Dutch professional football coach and former player. He was most recently the manager of PSV Eindhoven.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
            <article class="card-striker">
                <div class="striker-image">
                    <img src="../image/rooney.jpg" alt="">
                </div>
                <div class="striker-desc">
                    <div class="data-striker">
                        <h3 class="name-striker">Wayne Rooney</h3>
                        <div class="flag">
                            <img src="../image/england.png" alt="">
                        </div>
                    </div>
                    <div class="rate-striker">
                        <div class="rate-number">5.0</div>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <i class="fa-solid fa-star" style="color: orange;"></i>
                        <div class="view">
                            <i class="fa-regular fa-eye"></i>
                            (17.6B)
                        </div>
                    </div>
                    <p>Wayne Mark Rooney (born 24 October 1985) is an English professional football manager and former player who was most recently the manager of Birmingham City.</p>
                    <a href="#" class="btn-legend">Read more <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </article>
        </div>
    </section>

    <section class="section-footer">
        <div class="grid-footer container-max-width">
            <ul class="footer-list">
                <h3 class="title-footer">Contact Us</h3>
                <li class="footer-link"><a href="#">Email : menghorng414@gmail.com</a></li>
                <li class="footer-link"><a href="#">Numbers Phone : +855 158 067 01</a></li>
            </ul>
            <ul class="footer-list list-1">
                <h3 class="title-footer">Quick Links</h3>
                <li class="footer-link quick-links"><a href="#">Home</a></li>
                <li class="footer-link quick-links"><a href="#">Player</a></li>
                <li class="footer-link quick-links"><a href="#">Legend</a></li>
                <li class="footer-link quick-links"><a href="#">Manager</a></li>
                <li class="footer-link quick-links"><a href="#">Champions</a></li>
                <li class="footer-link quick-links"><a href="#">About</a></li>
            </ul>
            <ul class="footer-list list-2">
                <h3 class="title-footer">Follow Us</h3>
                <li class="footer-link">
                    <span><a href="#"><i class="fa-brands fa-facebook"></i></a></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-twitter"></i></span>
                    <span><a href="https://www.youtube.com/@menghornghay9895"><i class="fa-brands fa-youtube"></i></a></i></span>
                </li>
            </ul>
        </div>
    </section>

    <script src="../js/app.js"></script>

</body>
</html>