<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="../image/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/player.css">
    <title>Player</title>
</head>
<body>
    <!-- section navagationbar -->
    <section class="section-header">
        <nav class="navigetionbar container-max-width">
            <div class="logo">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="icon-bar toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="list">
                <li class="link"><a href="../index.html">home</a></li>
                <li class="link"><a href="player.html" class="active">player</a></li>
                <li class="link"><a href="../components/legend.html">legend</a></li>
                <li class="link"><a href="../components/manager.html">manager</a></li>
                <li class="link"><a href="../components/champions.html">champions</a></li>
                <li class="link"><a href="../components/about.html">about</a></li>
            </ul>
        </nav>
    </section>
    <!-- end of section navagationbar -->

    <!-- section hero -->
    <section class="section-hero">
        <h1 class="title-hero"> Players In Man Utd</h1>
        <div class="content-hero container-max-width">
            <h2 class="name-hero">Mason Mount</h2>
                <div class="center-hero-img">
                    <div class="hero-img">
                        <img src="../image/mount.jpg" alt="">
                    </div>
                </div>
            <div class="description-hero">
                <p><span>Mason Tony Mount</span> (born 10 January 1999) is an English professional footballer who plays as an attacking or central midfielder for Premier League club Manchester United and the England national team. Mount began his senior club career with Chelsea, and joined Vitesse and Derby County on consecutive loans between 2017 and 2019. He established himself as an integral player for Chelsea in the following years, and won the UEFA Champions League, the UEFA Super Cup.</p>
            </div>
            <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </section>
    <!-- end of section hero -->

    <!-- section content-pl -->
    <section class="section-players-manutd">
        <div class="players-manutd-grid-1x3 container-max-width">
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/rashford.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Marcus Rashford</h2>
                    <div class="flag"> 
                        <img src="../image/england.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Striker</h3>
                <div class="rate">
                    <div class="rate-number">5.0</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (98,3096M)
                    </div>
                </div>
                <p class="description-players">
                    Marcus Rashford MBE (born 31 October 1997) is an English professional footballer who plays as a forward for Premier League club Manchester United and the England national team. A product of the Manchester United youth system.youth system.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/martial.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Martial</h2>
                    <div class="flag"> 
                        <img src="../image/france.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Striker</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (10,5064M)
                    </div>
                </div>
                <p class="description-players">
                    Anthony Jordan Martial (born 5 December 1995) is a French professional footballer who plays as a forward for Premier League club Manchester United.After playing youth football for Les Ulis, Martial began his professional career at Lyon.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/hujlund.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Hujlund</h2>
                    <div class="flag"> 
                        <img src="../image/denmark.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Striker</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (43,6409M)
                    </div>
                </div>
                <p class="description-players">
                    Rasmus Winther Højlund (born 4 February 2003) is a Danish professional footballer who plays as a forward for Premier League club Manchester United and the Denmark national team. Højlund graduated from Copenhagen's youth academy.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/sancho.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Jadon Sancho</h2>
                    <div class="flag"> 
                        <img src="../image/england.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Right Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (53,6409M)
                    </div>
                </div>
                <p class="description-players">
                    Jadon Malik Sancho (born 25 March 2000) is an English professional footballer who plays as a winger for Bundesliga club Borussia Dortmund, on loan from Premier League club Manchester United. Previously a youth player with Watford and Manchester City.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/garnacho.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Garnacho</h2>
                    <div class="flag"> 
                        <img src="../image/argentina.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Left Winger</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (75,2506M)
                    </div>
                </div>
                <p class="description-players">
                    Alejandro Garnacho Ferreyra (born 1 July 2004) is a professional footballer who plays as a winger for Premier League club Manchester United and the Argentina national team.Garnacho joined Manchester United's youth system from Atlético Madrid in October 2020.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/antony.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Antony</h2>
                    <div class="flag"> 
                        <img src="../image/brazilian.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Right Winger</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (113,040M)
                    </div>
                </div>
                
                <p class="description-players">
                    Antony Matheus dos Santos (born 24 February 2000), simply known as Antony, is a Brazilian professional footballer who plays as a right winger for Premier League club Manchester United and the Brazil national team. Antony graduated from the São Paulo.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/pellisri.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Pellistri</h2>
                    <div class="flag"> 
                        <img src="../image/urugury.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Right Winger</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (13,4930M)
                    </div>
                </div>
                
                <p class="description-players">
                    Facundo Pellistri Rebollo (born 20 December 2001) is a Uruguayan professional footballer who plays as a right winger for La Liga club Granada, on loan from Premier League club Manchester United, and the Uruguay national team. pellistri is a graduate of Peñarol's.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/bruno.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Bruno fernandes</h2>
                    <div class="flag"> 
                        <img src="../image/portugal.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Attacking Midfielder</h3>
                <div class="rate">
                    <div class="rate-number">5.0</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (85,2506M)
                    </div>
                </div>
                <p class="description-players">
                    Bruno Miguel Borges Fernandes (born 8 September 1994) is a Portuguese professional footballer who plays as an attacking midfielder for Premier League club Manchester United, which he captains, and the Portugal national team.and the Portugal national.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/erikson.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Erikson</h2>
                    <div class="flag"> 
                        <img src="../image/denmark.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Attacking Midfielder</h3>
                <div class="rate">
                    <div class="rate-number">5.0</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (95,4930M)
                    </div>
                </div>
                
                <p class="description-players">
                    Christian Dannemann Eriksen (born 14 February 1992) is a Danish professional footballer who plays as a midfielder for Premier League club Manchester United and the Denmark national team. He is renowned for his vision, technique, passing, and free kick ability.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/vandebeek.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Van De beek</h2>
                    <div class="flag"> 
                        <img src="../image/netherland.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Attacking Midfielder</h3>
                <div class="rate">
                    <div class="rate-number">5.0</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (8,4310M)
                    </div>
                </div>
                
                <p class="description-players">
                    Donny van de Beek (born 18 April 1997) is a Dutch professional footballer who plays as a midfielder for Bundesliga club Eintracht Frankfurt, on loan from Premier League club Manchester United.He joined the Ajax academy in 2008. In 2015, Van de Beek made.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/cacemiro.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Cacemiro</h2>
                    <div class="flag"> 
                        <img src="../image/brazilian.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Defensive Midfielder</h3>
                <div class="rate">
                    <div class="rate-number">5.0</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (99,2906M)
                    </div>
                </div>
                <p class="description-players">
                    Carlos Henrique Casimiro (born 23 February 1992), known as Casemiro, is a Brazilian professional footballer who plays as a defensive midfielder for Premier League club Manchester United and captains the Brazil national team.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/scott.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Mattominay</h2>
                    <div class="flag"> 
                        <img src="../image/scotland.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Defensive Midfielder</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (55,8930M)
                    </div>
                </div>
                
                <p class="description-players">
                    Scott Francis McTominay (born 8 December 1996) is a professional footballer who plays as a midfielder for Premier League club Manchester United and the Scotland national team.McTominay is a graduate of Manchester United's youth academy.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/shaw.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Luke Shaw</h2>
                    <div class="flag"> 
                        <img src="../image/england.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Left Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (68,1896M)
                    </div>
                </div>
                <p class="description-players">
                    Luke Paul Hoare Shaw (born 12 July 1995) is an English professional footballer who plays as a left-back or centre-back for Premier League club Manchester United and the England national team. Originally a member of Southampton's youth system.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/malacia.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Malacia</h2>
                    <div class="flag"> 
                        <img src="../image/netherland.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Left Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (41,0130M)
                    </div>
                </div>
                
                <p class="description-players">
                    Tyrell Johannes Chicco Malacia (born 17 August 1999) is a Dutch professional footballer who plays as a left-back for Premier League club Manchester United and the Netherlands national team. Malacia joined Feyenoord's youth system at the age of nine. 
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/dalot.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Diago Dalot</h2>
                    <div class="flag"> 
                        <img src="../image/portugal.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Right Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (29,0130M)
                    </div>
                </div>
                
                <p class="description-players">
                    José Diogo Dalot Teixeira (born 18 March 1999) is a Portuguese professional footballer who plays as a full-back for Premier League club Manchester United and the Portugal national team. Dalot is a product of the Porto youth system and made his professional.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/bissaka.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Wan Bissaka</h2>
                    <div class="flag"> 
                        <img src="../image/england.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Right Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (75,0896M)
                    </div>
                </div>
                <p class="description-players">
                    Aaron Wan-Bissaka (born 26 November 1997) is an English professional footballer who plays as a right-back for Premier League club Manchester United.Wan-Bissaka began his career with Crystal Palace and was named as the club's Player of the Year.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/martines.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Martinez</h2>
                    <div class="flag"> 
                        <img src="../image/argentina.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Centre Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (81,0896M)
                    </div>
                </div>
                <p class="description-players">
                    Raphaël Xavier Varane (born 25 April 1993) is a French professional footballer who plays as a centre-back for Premier League club Manchester United. Regarded as one of the best defenders in the world as well as one of the best of his generation.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/varane.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Varane</h2>
                    <div class="flag"> 
                        <img src="../image/france.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Centre Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (90,9250M)
                    </div>
                </div>
                
                <p class="description-players">
                    Raphaël Xavier Varane (born 25 April 1993) is a French professional footballer who plays as a centre-back for Premier League club Manchester United. Regarded as one of the best defenders in the world as well as one of the best of his generation.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/mauire.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Harry Maguire</h2>
                    <div class="flag"> 
                        <img src="../image/england.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Centre Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (38,8250M)
                    </div>
                </div>
                
                <p class="description-players">
                    Jacob Harry Maguire (born 5 March 1993) is an English professional footballer who plays as a centre back for Premier League club Manchester United and the England national team. Maguire came through the youth system at Sheffield United.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/lindelof.png"alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Lindelof</h2>
                    <div class="flag"> 
                        <img src="../image/Sweden.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Centre Back</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (17,2970M)
                    </div>
                </div>
                <p class="description-players">
                    Victor Jörgen Nilsson Lindelöf (born 17 July 1994) is a Swedish professional footballer who plays as a defender for Premier League club Manchester United and captains the Sweden national team. Mainly a centre-back, he can also play as a right-back.
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-players">
                <div class="img-players">
                    <img src="../image/onana.png" alt="">
                </div>
                <div class="data">
                    <h2 class="name-players">Onana</h2>
                    <div class="flag"> 
                        <img src="../image/cameroon.png" alt="">
                    </div>
                </div>
                <h3 class="positions-players">Goalkeeper</h3>
                <div class="rate">
                    <div class="rate-number">4.5</div>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star" style="color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="color: orange;"></i>
                    <div class="view">
                        <i class="fa-regular fa-eye"></i>
                        (12,0081M)
                    </div>
                </div>
                
                <p class="description-players">
                    André Onana Onana (born 2 April 1996) is a Cameroonian professional footballer who plays as a goalkeeper for Premier League club Manchester United and the Cameroon national team. Onana joined Barcelona's youth system in 2010. 
                </p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
        </div>
    </section>
    <!-- end of section content -->

    <!-- section worst -->
    <section class="section-worst-players">
        <h2 class="title-worst-players">
            Man Utd's Worst transfers of all time
        </h2>
        <div class="worst-grid-1x4 container-max-width">
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/mount1.webp" alt="">
                </div>
                <h3 class="name-worst-players">Mason Mount</h3>
                <p>Mason Tony Mount born 10 January 1999 is an English professional.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/antony1.webp" alt="">
                </div>
                <h3 class="name-worst-players">Antony</h3>
                <p>Antony Matheus dos Santos (born 24 February 2000) is an Brazilin.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/sancho1.webp" alt="">
                </div>
                <h3 class="name-worst-players">Sancho</h3>
                <p>Jadon Malik Sancho (born 25 March 2000) is an English professional.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/vandebeeks1.webp" alt="">
                </div>
                <h3 class="name-worst-players">Van De Beek</h3>
                <p>Donny van de Beek born 18 April 1997 is a Dutch professional.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/maguire1.webp" alt="">
                </div>
                <h3 class="name-worst-players">Maguire</h3>
                <p>Jacob Harry Maguire (born 5 March 1993) is an English.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/AlexisSanchez.webp" alt="">
                </div>
                <h3 class="name-worst-players">Sanchez</h3>
                <p>Alexis Alejandro Sánchez Sánchez born 19 December 1988.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/depay.webp" alt="">
                </div>
                <h3 class="name-worst-players">Depay</h3>
                <p>Memphis Depay born 13 February 1994 he joined Barcelona</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
            <article class="card-worst">
                <div class="worst-img">
                    <img src="../image/dimaria.webp" alt="">
                </div>
                <h3 class="name-worst-players">Di Maria</h3>
                <p>Ángel Fabián Di María born 14 February 1988 is an Argentine.</p>
                <a href="#" class="btn-worst">See more <i class="fa-solid fa-angle-right"></i></a>
            </article>
        </div>
    </section>
    <!-- end of section worst -->

    <section class="section-goalden-boy">
        <h2 class="title-goalden-boy h">
            Talented Manchester United Youngsters
        </h2>
        <div class="grid-goalden-boy container-max-width">
            <div class="center-goalden-img">
                <div class="img-goalden-boy">
                    <img src="../image/greenwood.jpg" alt="">
                </div>
            </div>
            <div class="desc-goaldden-boy">
                <h3>Manson Greenwood</h3>
                <p>Mason Will John Greenwood (born 1 October 2001) is an English professional footballer who plays as a forward for La Liga club Getafe, on loan from Premier League club Manchester United. A graduate of United's youth system, Greenwood scored in a UEFA Europa League match against Astana in September 2019.</p>
                <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div class="youngsters">
            <div class="grid-youngsters container-max-width">
                <article class="card-youngsters">
                    <div class="youngsters-img">
                        <img src="../image/rashford1.jpg" alt="">
                    </div>
                    <div class="desc-youngsters">
                        <h3 class="name-youngsters">Marcus Rashford</h3>
                        <p>Marcus Rashford MBE (born 31 October 1997) is an English professional footballer who plays as a forward for Premier League club Manchester United and the England national team. A product of the Manchester United youth system, Rashford joined the club at the age of seven. </p>
                        <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </article>
                <article class="card-youngsters">
                    <div class="youngsters-img">
                        <img src="../image/mainoo.jpg" alt="">
                    </div>
                    <div class="desc-youngsters">
                        <h3 class="name-youngsters">Kobbie Mianoo</h3>
                        <p>Kobbie Boateng Mainoo (born 19 April 2005) is an English professional footballer who plays as a midfielder for Premier League club Manchester United. Mainoo is a graduate of Manchester United's youth system and won the Jimmy Murphy Young Player of the Year award in 2023.</p>
                        <a href="#" class="button">See more <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- section foort -->
    <section class="section-footer">
        <div class="grid-footer container-max-width">
            <ul class="footer-list">
                <h3 class="title-footer">Contact Us</h3>
                <li class="footer-link"><a href="#">Email : menghorng414@gmail.com</a></li>
                <li class="footer-link"><a href="#">Numbers Phone : +855 158 067 01</a></li>
            </ul>
            <ul class="footer-list list-1">
                <h3 class="title-footer">Quick Links</h3>
                <li class="footer-link quick-links"><a href="#">Home</a></li>
                <li class="footer-link quick-links"><a href="#">Player</a></li>
                <li class="footer-link quick-links"><a href="#">Legend</a></li>
                <li class="footer-link quick-links"><a href="#">Manager</a></li>
                <li class="footer-link quick-links"><a href="#">Champions</a></li>
                <li class="footer-link quick-links"><a href="#">About</a></li>
            </ul>
            <ul class="footer-list list-2">
                <h3 class="title-footer">Follow Us</h3>
                <li class="footer-link">
                    <span><a href="https://web.facebook.com/"><i class="fa-brands fa-facebook"></i></a></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-twitter"></i></span>
                    <span><a href="https://www.youtube.com/@menghornghay9895"><i class="fa-brands fa-youtube"></i></a></i></span>
                </li>
            </ul>
        </div>
    </section>
    <!-- end of section foort -->

    <script src="../js/app.js"></script>
    
</body>
</html>